# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
# scikit-learn
# tensorflow

# tests/linter
black
# coverage
# flake8
pytest
# yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs
fastapi
# pytz
uvicorn
httpx
python-multipart

# utilities
six>=1.14
joblib
memoized-property
termcolor

sahi==0.10.8
torch
yolov5

pdf2image
poppler-utils
